html {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 512px;
}

.title {
  font-size: 24px;
  margin-bottom: 12px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 12px;
  gap: 12px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.todo-item-left-section {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.todo-item-right-section {
  display: flex;
  gap: 12px;
  align-items: center;
}

#todo-item-checkbox {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  border: 2px solid #32a2a8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.form-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 12px;
}

.todo-input {
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #32a2a8;
  width: 100%;
}

.todo-add-button {
  border: none;
  outline: none;
  background-color: #32a2a8;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #2c8a90;
  }
}

.instagram {
  width: 64px;
  height: 64px;
}

.ig-link {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  background-color: #32a2a8;
  padding: 8px 16px;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #2c8a90;
  }
}
